PORT=5000
MONGO_URI=your_mongodb_srv_link_here
PINATA_JWT=your_pinata_jwt_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_name_here
CLOUDINARY_API_KEY=your_cloudinary_key_here
CLOUDINARY_API_SECRET=your_cloudinary_secret_here